body{
color: #40514E;
  margin: 0;
  text-align: center;
font-family: 'Merriweather', sans-serif;
font-size: 150%;
}
h1
{
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 30px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  padding-top: 10px;
    color: #66BFBF;
  font-size: 2.2rem;
  font-family: 'Montserrat', sans-serif;
}
h3{
    color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
div{
  position: relative;
}
hr{
  border: dotted;
  color: #EAF6F6;
  border-bottom: none;
  width :25px;
  width: 6%;
  margin: 50px auto;
}
img{

  right: 30px;
}
.topContainer{
    background-color: #e4fbff;
  height: 760px;
  padding: 20px;
}
.top-Cloud{
  top: 20px;
  margin-left: 650px;
  width: 12%;
  height: 10%;
}
.bottom-Cloud{
  position: absolute;
  margin-right: 900px;
  width: 12%;
  height: 10%;
}
.mountain-image{
  margin-top: 100px;
  width: 31.25rem;
  height: 18.75rem;

}
.middle-container{
  margin: 110px 0;
}
.contact-me{
  margin-bottom:  50px;
}
.bottom-container{
  background-color: #66BFBF;
margin-bottom: -110px;
padding-bottom: 5px;
padding-top: 5px;
}
.profile-image{
  margin-top: -80px;
  height: 9.375rem;
  width: 9.375rem;
}
.skill-image{
width: 30%;
float: left;
margin-right: 30px;
}
.linkedIn-image{
  position: absolute;
  margin-right:560px;
}
.skills{
  width: 50%;
  margin: 50px auto 50px auto ;
  text-align: left;
  line-height: 2;
}
.twitter-image{
margin: auto;
}
.facebook-image{
    position: absolute;
    margin-right: 680px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
.copy-right{
  color: #EAF6F6;
  padding-top: 10px 0;
  font-size: 0.75rem;
}
